data/Bacillus_subtilis_NCIB_3610/
data/Bacillus_subtilis_NCIB_3610/
data/Bacillus_subtilis_NCIB_3610/
data/old/
data/reference_assemblies_task2/
.RData
.Rhistory
.gitignore
data/timecourse_merged/
data/rebreseq_json/
data/timecourse_snp/
data/timecourse_prelim_fixed/
data/timecourse_prelim_poly/
data/timecourse_depth/
data/timecourse_indel/
data/library_metadata/final_to_seq.xlsx
data/timecourse_merged/
.gitignore
data/timecourse_depth/0B1_depth_timecourse.bz
default.profraw
